.about.jumbotron {
  display: flex;
  background-color: #1C2228;

  .row {
    align-items: flex-end;

    .col {
      text-align: center;
      align-self: center;
      color: #ffffff;
    }
  }

  img {
    width: 232px;
    height: 215px;
    margin-bottom: 1rem;
  }
}
