.available.jumbotron {
  display: flex;
  border: 1px solid #707070;
  border-radius: 0;
  background-color: #1C2228;
  opacity: 1;
  color: #FFFFFF;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;

  .top-row {
    margin-bottom: 2rem;
  }

  #first-column {
    padding-right: 2rem;
  }

  #last-column {
    padding-left: 2rem;
  }

  h3 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
  }

  img {
    margin-bottom: 1rem;
  }

  .row {
    text-align: center;
  }
}
