.for-hotels.jumbotron {
  display: flex;
  background-color: #323d47;
  padding: 0;

  img {
    max-width: 40%;

    @media screen and (max-width: 1024px) {
      width: 90%;
      height: 90%;
    }

    @media screen and (max-width: 960px) {
      width: 90%;
      height: 90%;
    }

    @media screen and (max-width: 640px) {
      width: 85%;
      height: 85%;
    }

    @media screen and (max-width: 320px) {
      width: 80%;
      height: 80%;
    }
  }

  .text-div {
    margin: 3rem 1rem 2rem 3rem;
    text-align: center;

    .row {
      margin-top: 5rem;

      p {
        padding-top: 1rem;
      }
    }
  }
}
