.impressum.jumbotron {
  display: flex;
  background-color: #1C2228;
  padding: 1rem 5rem;

  .impressum-text-container {
    padding-left: 10rem;
    align-self: center;
    text-align: center;
  }

  .btn {
    border: 1px solid #C68F56;
    background-color: #C68F56;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  img {
    padding-right: 5rem;
    width: 585px;
    height: 437px;
  }
}
