.impressum.container-fluid {
  display: flex;
  background-color: #1c2228;
  padding: 3rem 5rem 0;
  text-align: center;

  .row {
    margin-bottom: 0;
  }

  .impressum-image {
    text-align: left;
  }

  .impressum-text-container {
    align-self: center;
    text-align: center;

    p {
      text-align: left;
    }
  }

  .btn {
    border: 1px solid #c68f56;
    background-color: #c68f56;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  img {
    max-width: 402px;
    max-height: 440px;

    @media screen and (max-width: 1024px) {
      width: 90%;
      height: 90%;
    }

    @media screen and (max-width: 960px) {
      width: 90%;
      height: 90%;
    }

    @media screen and (max-width: 640px) {
      width: 85%;
      height: 85%;
    }

    @media screen and (max-width: 320px) {
      width: 80%;
      height: 80%;
    }
  }
}
