.container-fluid.intro {
  background: url(../assets/images/architecture-building-dubai-70441_bg/architecture-building-dubai-70441_bg@2x.png)
    no-repeat;
  display: flex;
  padding: 1rem 5rem;
  color: #ffffff;

  h1 {
    padding-top: 5rem;
  }

  .btn {
    border: 1px solid #c68f56;
    background-color: #c68f56;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  .col {
    align-self: center;
    color: #ffffff;
  }

  img {
    max-width: 585px;
    max-height: 437px;

    @media screen and (max-width: 1024px) {
      width: 90%;
      height: 90%;
    }

    @media screen and (max-width: 960px) {
      width: 90%;
      height: 90%;
    }

    @media screen and (max-width: 640px) {
      width: 85%;
      height: 85%;
    }

    @media screen and (max-width: 320px) {
      width: 80%;
      height: 80%;
    }
  }
}
