nav {
  color: #ffffff;
  background-color: #323d47;
  opacity: 1;

  .navbar-nav {
    padding: 1rem 5rem;

    img {
      padding-right: 2rem;
    }
  }

  a {
    text-transform: uppercase;
    align-self: center;
  }

  button {
    text-transform: uppercase;
  }

  .login-button {
    background-color: #c68f56;
  }

  .sign-up-button {
    background-color: transparent;
  }

  .btn {
    width: 130px;
    height: 35px;
    border: 1px solid #c68f56;
    margin: 0 1rem;
  }
}
