nav {
  background-color: #323d47;
  opacity: 1;
  text-align: center;

  .navbar-nav {
    color: #ffffff;
    padding: 1rem 5rem;
  }

  a.nav-link {
    margin-left: 1rem;
    text-transform: uppercase;
    align-self: center;
  }

  button {
    text-transform: uppercase;
  }

  .login-button {
    background-color: #c68f56;
  }

  .sign-up-button {
    background-color: transparent;
  }

  .btn {
    max-width: 130px;
    max-height: 35px;
    border: 1px solid #c68f56;
    margin: 0 1rem;

    @media screen and (max-width: 1024px) {
      font-size: 0.8rem;
      width: 90%;
      height: 90%;
    }

    @media screen and (max-width: 960px) {
      font-size: 0.8rem;
      width: 90%;
      height: 90%;
    }

    @media screen and (max-width: 640px) {
      font-size: 0.8rem;
      width: 85%;
      height: 85%;
    }

    @media screen and (max-width: 320px) {
      font-size: 0.8rem;
      width: 80%;
      height: 80%;
    }
  }
}
